/* 非关键CSS代码 */
.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.photo {
    max-width: 100%;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.5s, box-shadow 0.5s;
    margin: 10px;
}

.photo img {
    width: 100%;
    height: auto;
    max-width: 400px;
    max-height: 300px;
    display: block;
    object-fit: cover;
    loading: lazy;
}

.photo img:hover {
    transform: scale(1.1);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

p {
    opacity: 0;
    transform: translateY(20px);
    transition: transform 0.5s, opacity 0.5s;
}

.photo:nth-child(odd) {
    transform: rotate(-2deg);
}

.photo:nth-child(even) {
    transform: rotate(2deg);
}

h2:hover, p:hover, h5:hover {
    color: #00bfff;
    transform: scale(1.1);
}

@media (max-width: 768px) {
    .gallery {
        flex-direction: column;
        align-items: center;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    header {
        padding: 1em;
        height: auto;
    }

    .gallery {
        gap: 10px;
    }

    .photo {
        margin: 5px;
    }

    .photo img {
        max-width: 300px;
        max-height: 200px;
    }

    section {
        padding: 8em 1em 1em 1em;
    }

    nav ul li {
        display: block;
        margin: 10px 0;
    }
}
